.messenger {
  height: calc(100vh - 50px);
  display: flex;
}
.messengerMenu {
  flex: 3;
}
.messengerSearch {
  width: 90%;
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid rgb(211, 202, 202);
  margin: 10px 0;
  font-size: 16px;
}
.messengerSearch:focus {
  outline: none;
}

.messengerBox {
  flex: 6;
}
.messengerOnlineFriends {
  flex: 3;
}
.messengerMenuWrapper,
.messengerBoxWrapper,
.messengerOnlineFriendsWrapper {
  padding: 10px;
  height: 100%;
}

.boxTop {
  height: 70%;
  overflow-y: scroll;
}

.boxBottom {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageTextArea {
  width: 70%;
  height: 90%;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px;
}

.messageTextArea:focus {
  outline: none;
}

.sendMessege {
  width: 80px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to right, #43cea2, #185a9d);
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.3s;
}

.sendMessege:hover {
  background: linear-gradient(to right, #185a9d, #43cea2);
}

.openChatToStartConversation {
  font-size: 50px;
  font-weight: 500;
  color: rgb(221, 221, 221);
  line-height: 1.6;
  margin-top: 30px;
  padding: 0 10px;
  cursor: default;
}
