.birthdayContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.birthdayImg {
  width: 60px;
  height: 60px;
}

.birthdayNames {
  font-size: 15px;
}

.birthdayName {
  cursor: pointer;
}
